<div [formGroup]="form" *ngIf="question">
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>{{ question.label }}</mat-label>
    <input matInput [formControlName]="question.key" [placeholder]="question.label" [matDatepicker]="picker" autocomplete="off"/>
    <mat-error *ngIf="form?.get(question.key)?.hasError('required')">
      {{ question.label }} es <strong>requerido</strong>
    </mat-error>
    <mat-error *ngIf="form?.get(question.key)?.hasError('email')">
      {{ question.label }} debe ser <strong>válido</strong>
    </mat-error>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [disabled]="false"></mat-datepicker>
  </mat-form-field>
</div>
