<section class="grid grid-cols-6 gap-2">
  <section class="col-span-1 flex items-center justify-center">
    <mat-icon [color]="flag ? 'primary' : 'accent'">{{flag ? 'check' : 'close'}}</mat-icon>
  </section>
  <span class="col-span-5">{{data.msg}}</span>
</section>
