<div [formGroup]="form" *ngIf="question">
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>{{ question.label }}</mat-label>
    <input
      #input
      [type]="type"
      matInput
      [formControlName]="question.key"
      [min]="min"
      [max]="max"
      [placeholder]="question.label"
      autocomplete="off"
      (input)="toUpperCase(input.value)"
    />
    <mat-error *ngIf="form?.get(question.key)?.hasError('required')">
      {{ question.label }} es <strong>requerido</strong>
    </mat-error>
    <mat-error *ngIf="form?.get(question.key)?.hasError('maxlength')">
      {{ question.label }} no debe ser
      <strong>mayor a {{ form?.get(question.key)?.errors?.["maxlength"]?.requiredLength }} caracteres.</strong
      >
    </mat-error>
    <mat-error *ngIf="form?.get(question.key)?.hasError('email')">
      {{ question.label }} debe ser <strong>válido</strong>
    </mat-error>
    <mat-error *ngIf="form?.get(question.key)?.hasError('onlyAZ')">
      {{ question.label }} permite solo <strong>letras sin acentos.</strong>
    </mat-error>
    <mat-error *ngIf="form?.get(question.key)?.hasError('onlyAZSpace')">
      {{ question.label }} permite solo <strong>espacios y letras sin acentos.</strong>
    </mat-error>
    <mat-error *ngIf="form?.get(question.key)?.hasError('onlyNumberAZMinus')">
      {{ question.label }} permite <strong>caracteres ( A-Z / 0-9 / - ) sin acentos.</strong>
    </mat-error>
  </mat-form-field>
</div>
