<h1 mat-dialog-title>Eliminar Empleado</h1>
<div mat-dialog-content>
  <div class="p-2 text-lg text-center">{{msg}}</div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="closeModal()">NO</button>
  <button mat-button (click)="closeModal(true)">SI</button>
</div>
