<section class="flex flex-col items-center justify-center p-8">
  <ng-container *ngIf="flag; else loading">
    <section class="w-full lg:w-2/3">
      <section class="grid grid-cols-3 py-8">
        <button class="col" mat-fab color="primary" [routerLink]="['/home']">
          <mat-icon>arrow_back</mat-icon>
        </button>
  
        <section class="col-span-2 flex items-center">
          <span class="text-3xl font-semibold">Formulario Agregar Empleado</span>
        </section>
      </section>
  
      <section class="grid grid-cols-1 sm:grid-cols-2 gap-8" [formGroup]="form">
        <app-form-select class="col" [form]="form" [question]="questions[0]"></app-form-select>
        <app-form-input class="col" [form]="form" [question]="questions[1]" [uppercase]="true"></app-form-input>
        <app-form-input class="col" [form]="form" [question]="questions[2]" [uppercase]="true"></app-form-input>
        <app-form-input class="col" [form]="form" [question]="questions[3]" [uppercase]="true"></app-form-input>
        <app-form-input class="col" [form]="form" [question]="questions[4]" [uppercase]="true"></app-form-input>
        <app-form-input class="col" [form]="form" [question]="questions[5]" [uppercase]="true"></app-form-input>
        <app-form-select class="col" [form]="form" [question]="questions[6]"></app-form-select>
        <app-form-date-picker class="col" [form]="form" [question]="questions[7]"></app-form-date-picker>
        <app-form-select class="col" [form]="form" [question]="questions[8]"></app-form-select>
      </section>
  
      <section class="flex items-center justify-end w-full py-8">
        <button class="w-full" mat-raised-button color="primary" [disabled]="form.invalid" (click)="onClickSave()">
          Agregar Empleado
        </button>
      </section>
    </section>
  </ng-container>
</section>

<ng-template #loading>
  <section class="flex items-center justify-center">
    <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'"></mat-progress-spinner>
  </section>
</ng-template>
