<section class="w-full h-full">
  <mat-toolbar class="flex items-center justify-center bg-zinc-800 text-white">
    <span class="text-3xl font-semibold opacity-70 capitalize">Asistencia empleados</span>
  </mat-toolbar>

  <router-outlet></router-outlet>
</section>
