<div [formGroup]="form" *ngIf="question">
  <mat-form-field class="w-full" [appearance]="appearance">
    <mat-label>{{ question.label }}</mat-label>
    <mat-select [formControlName]="question.key">
      <mat-option *ngFor="let opt of question.options" [value]="opt.key">
        {{ opt.value }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form?.get(question.key)?.hasError('required')">
      {{ question.label }} es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>
</div>
