<section class="flex flex-col items-center justify-center p-8">
    <ng-container *ngIf="flag; else loading">
      <section class="w-full lg:w-2/3">
        <section class="grid grid-cols-3 py-8">
          <button class="col" mat-fab color="primary" [routerLink]="['/home']">
            <mat-icon>arrow_back</mat-icon>
          </button>
    
          <section class="col-span-2 flex items-center">
            <span class="text-3xl font-semibold">Formulario Editar Empleado</span>
          </section>
        </section>
    
        <section class="grid grid-cols-1 sm:grid-cols-2 gap-8" [formGroup]="form">
          <section class="col-span-1 sm:col-span-2 opacity-75">
            <p>El empleado se encuentra en estado {{questions?.[10]?.value}}</p>
            <p>Fecha y hora de registro {{questions?.[11]?.value}}</p>
            <p *ngIf="questions?.[12]?.value !== ''">Fecha y hora de edición {{questions?.[12]?.value}}</p>
          </section>
          
          <app-form-select class="col" [form]="form" [question]="questions[1]"></app-form-select>
          <app-form-input class="col" [form]="form" [question]="questions[2]" [uppercase]="true"></app-form-input>
          <app-form-input class="col" [form]="form" [question]="questions[3]" [uppercase]="true"></app-form-input>
          <app-form-input class="col" [form]="form" [question]="questions[4]" [uppercase]="true"></app-form-input>
          <app-form-input class="col" [form]="form" [question]="questions[5]" [uppercase]="true"></app-form-input>
          <app-form-input class="col" [form]="form" [question]="questions[6]" [uppercase]="true"></app-form-input>
          <app-form-select class="col" [form]="form" [question]="questions[7]"></app-form-select>
          <app-form-date-picker class="col" [form]="form" [question]="questions[8]"></app-form-date-picker>
          <app-form-select class="col" [form]="form" [question]="questions[9]"></app-form-select>
        </section>
    
        <section class="flex items-center justify-end w-full py-8">
          <button class="w-full" mat-raised-button color="primary" [disabled]="form.invalid" (click)="onClickSave()">
            Editar Empleado
          </button>
        </section>
      </section>
    </ng-container>
  </section>
  
  <ng-template #loading>
    <section class="flex items-center justify-center">
      <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'"></mat-progress-spinner>
    </section>
  </ng-template>
  