.text-centered {
  text-align: center !important;
}

.text-align-end {
  text-align: end !important;
}

.table-td {
  padding: 0 0.2em !important;
}

.table-td-right {
  padding-right: 0.2em !important;
}
