<section class="flex items-center justify-center mt-4">
  <section class="w-11/12 overflow-auto">
    <ng-container *ngIf="!flagTable; else loading" class="w-full mat-elevation-z8">
      <section class="flex items-center justify-between">
        <mat-form-field appearance="outline" class="w-1/4">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="search($event)" placeholder="Buscar" #inputSearch>
        </mat-form-field>

        <section class="flex items-center justify-end">
          <button mat-raised-button color="primary" [routerLink]="['add']">Agregar Empleado</button>
        </section>
      </section>

      <div class="w-full">
        <table mat-table [dataSource]="dataSource" matSort class="w-full border-t">
          <ng-container [matColumnDef]="col.key" *ngFor="let col of displayedColumns; let first = first;">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-centered table-td font-semibold"
              [ngClass]="{'border-x': first, 'border-r': !first}">
              {{col.value}}
            </th>
            <td mat-cell *matCellDef="let row" class="border-r table-td text-sm opacity-70" [ngClass]="{'border-l': first}">
              {{row[col.key]}}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-centered table-td border-r font-semibold">Acciones</th>
            <td mat-cell *matCellDef="let row" class="text-centered table-td border-r">
              <section class="flex items-center">
                <button mat-icon-button color="primary" (click)="onClickEdit(row.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="onClickDelete(row.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </section>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="headerColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [colSpan]="headerColumns.length" class="text-centered">No se encontraron datos.</td>
          </tr>
        </table>

        <mat-paginator class="w-full" [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
      </div>
    </ng-container>
  </section>
</section>

<ng-template #loading>
  <section class="flex items-center justify-center">
    <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'"></mat-progress-spinner>
  </section>
</ng-template>
